/*-----------------------artigo 2----------------------*/
 
.legenda-titulo {
    display:flex;
    align-content: flex-start;
    gap: 10px;
}

.img5-1 {
  position: absolute;
  left: 10vw;
  top: 22vh;
  animation: slide-in-from-right 2.5s forwards;
  z-index:2;
}

#cinco_prob{
    z-index:1;
    left: 20vw;
    top: 10vh;
}

.img5-2 {
    width: 21vw;
    position:absolute;
    right:3vw;
   
    z-index: 1;
}

.teste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: orange; */
    height: fit-content;
}
.img5-3 {
    width: 28vw;
    position:absolute;
    top:-10vh;
    left: 2vw;
    z-index: 1;
}
.img5-4 {
    width: 28vw;
    position:absolute;
    right: -12vh;
    bottom: -10vh;
    z-index: 1;
    /* top: 83.3vw; */
}
.img6-1 {
    width: 40vw;
    position:absolute;
    margin-left: 2.5vw;
    top: 1vh;
    z-index: 1;
}

.img6-2 {
    width: 48vw;
    position:absolute;
    right: -25vw;
    bottom: -6vh;
    z-index:2;
 
}

.img6-3{

    position:absolute;
    right: -22vw;
    bottom: -13vh;

    z-index:1;
}

.tituloArtigo2 {
    color: #C92B1D;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
}

.textArtigo2 {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Source Sans 3', sans-serif;
  }

  .introTexto{
    z-index: 3;
    position:relative;
    left: 10vw;
    /* margin-left: 30vw; */
    width: 30vw;
    text-align: left;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.wrap {
    margin-top: -15vh;
    width: 100%;
    margin-left: 25vw;
}

.texto-5{
    width: 50vw;
    /* width: 50vw; */
    position:relative;
    z-index:2;
    text-align: left;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}