*{
    margin: 0;
    padding: 0;
}

main{
    position: relative;
}
#alta{
    position: relative;
    left:0;

    width: fit-content;
    height: 40vh;

    animation: slide-in-from-left 2.5s forwards;
}

#e{
    width: fit-content;
    height: 20vh;
}

#baixa{
    position:absolute;
    top: 39vh;
    right:0;

    width: fit-content;
    height: 61vh;
}

@keyframes slide-in-from-left {
    0% { 
        transform: translate(-100%); 
    }
    100% {
         transform: translateX(0%); 
        }
  }

  @keyframes slide-in-from-right {
    0% { 
        transform: translate(0%); 
    }
    100% {
         transform: translateX(100%); 
        }
  }

